<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Register</title>
  <link rel="stylesheet" href="/static/fontawesome-5.5/css/all.min.css" />
  <link rel="stylesheet" href="/static/slick/slick.css">
  <link rel="stylesheet" href="/static/slick/slick-theme.css">
  <link rel="stylesheet" href="/static/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/tooplate-infinite-loop.css" />
  <!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

</head>

<body>
  <!-- Hero section -->
  <section id="infinite" class="text-white tm-font-big tm-parallax">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
      <div class="container">
        <div class="menu_nav">

        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li >
              <a class="nav-link tm-nav-link" href="/home">Home</a>
          </li>
          <li >
              <a class="nav-link tm-nav-link" href="/about">About</a>
          </li>
          <li >
            <a class="nav-link tm-nav-link" href="/register">Register</a>
          </li>
          <li >
            <a class="nav-link tm-nav-link" href="/login">Login</a>
          </li>


          </ul>
        </div>
      </div>
    </nav>

    <div class="text-center tm-hero-text-container">
      <div class="tm-hero-text-container-inner">
        <h2 style="color:white ;" class="tm-hero-title">REGISTER</h2>
        <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary"></h2>
        <h1>{{mssg}}</h1>

        <p class="tm-color-gray">
          <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <label for="email"><b style="color:rgb(255, 255, 255);">Username</b></label>
            <input type="text" placeholder="Username" name="uname" id="email" required>
            <br>
  
            <label for="mail"><b style="color:rgb(255, 253, 253);">Email ID</b></label>
            <input type="email" placeholder="ID" name="mail" id="mail" required>
            <br>
  
            <label for="age"><b style="color:rgb(255, 255, 255)0);">Age</b></label>
            <input type="password" placeholder="Age" name="age" id="age" required>
            <br>
  
            <label for="psw"><b style="color:rgb(255, 254, 254);">Address</b></label>
            <input type="text" placeholder="Address" name="add" id="add" required>
            <br>
  
            <label for="psw"><b style="color:rgb(255, 255, 255);">Password</b></label>
            <input type="password" placeholder="Password" name="passw" id="passw" required>
            <br>
  
            <label for="psw-repeat"><b style="color:rgb(255, 255, 255);">Confirm Password</b></label>
            <input type="password" placeholder="confirm Password" name="cpassw" id="cpassw" required>
            <br>
  
            <div class="div">
              <button type="submit" class="registerbtn">Register</button>
            </div>
            
        </div>
  
        <div class="container signin">
          <p style="color:rgb(255, 255, 255);">Already have an account? <a href="/" style="color: rgb(255, 255, 255);">Sign in</a>.
          </p>
        </div>
        </form>
      </center>
      </p>

      </p>


    </div>
    </div>

    </div>

    <div class="tm-next tm-intro-next">

    </div>
  </section>


  <script src="/static/js/jquery-1.9.1.min.js"></script>
  <script src="/static/slick/slick.min.js"></script>
  <script src="/static/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/easing.min.js"></script>
  <script src="/static/js/jquery.singlePageNav.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>